/* Profile Page */


/* Main */

/* Profile */

.profile {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 4rem;
}

.profile__img {
  height: 200px;
  width: 250px;
  border-radius: 20%;
  box-shadow: 0px 0px 10px 5px var(--light-brown);
}

.profile__name {
  font-size: 2rem;
  color: var(--brown);
}

/* About */

.about {
  margin: 0 10rem;
  color: var(--brown);
}

.about__headline {
  font-size: 2rem;
}

.about__text {
  font-size: 1.2rem;
}