/* Color variables */

:root {
  --green: #606C38;
  --dark-green: #283618;
  --cream: #FEFAE0;
  --light-brown: #DDA15E;
  --brown: #bc6b25;
}

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--cream);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  min-height: 1200px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 5px var(--light-brown);
  flex-shrink: 0;
}

/* Quiz App Page */

/* Header */

.header {
  background-color: var(--green);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}

.header__headline {
  color: var(--cream);
  font-size: 3rem;
  margin: 1.5rem;
}

/* main */

.main {
  margin: 10rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.card {
  min-height: 250px;
  width: 500px;
  background-color: var(--brown);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  fill: var(--cream);
}

.card__question {
  color: var(--cream);
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
}

.card__button {
  border: 3px solid var(--cream);
  border-radius: 10px;
  background-color: var(--brown);
  color: var(--cream);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.card__button--click:active {
  color: var(--brown);
  background-color: var(--cream);
}

/* Footer */

.footer {
  background-color: var(--green);
  color: var(--cream);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.nav__link {
  text-decoration: none;
  padding: 1rem 2rem;
}

.nav__link--activ {
  background-color: var(--brown);
}

.nav__link--hover:hover {
  background-color: var(--brown);
}


.nav__icon {
  height: 60px;
  width: 60px;
  fill: var(--cream);
}